
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow: hidden;
}

.default-img {
  background: url("../assets/clear_sky.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.cloudy-img {
  background: url("../assets/cloudy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.night-img {
  background: url("../assets/night.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.snow-img {
  background: url("../assets/rain.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.storm-img {
  background: url("../assets/snow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.rain-img {
  background: url("../assets/storm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.all-data {
  -webkit-box-shadow: 5px 5px 15px 5px #000;
  box-shadow: 5px 5px 15px 5px #000;
  margin: 0 15em;
}

.weather-value {
  font-size: 45px;
}

.search {
  background-color: transparent;
  color: white;
}

.search::placeholder {
  color: white;
  text-align: center;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.slide::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slide {
  background-color: #1977d4;
}

input:focus + .slide {
  box-shadow: 0 0 1px #166abd;
}

input:checked + .slide::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slide.circle {
  border-radius: 34px;
}

.slide.circle::before {
  border-radius: 50%;
}
